@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.scrollber-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes loadingDots {
  0%, 100% { opacity: 0; transform: scale(0.5); }
  50%      { opacity: 1; transform: scale(1.2); }
}
@layer utilities {
  .animate-loading-dots {
    animation: loadingDots 1s linear infinite;
  }
}